.grid-parentbox{
display: grid;
grid-template-columns: 400px 400px 400px;
grid-template-rows: auto;
width: 1200px;
margin: 20px auto;
gap: 40px;
background-color: rgb(0, 175, 233);
}
.grid-child-1 {
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(138, 135, 115);
}
.grid-child-2{
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(39, 94, 39);
}
.grid-child-3{
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(218, 16, 16);
}
.grid-child img {
    max-width: 100%;
}
.grid-child p.link {
    text-align: center;



}
h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
h1 {
    font-size: 2rem;
    margin: 0.15rem
}
header,footer {
    background-color: rgb(211, 17, 17);
    padding:.3em;
    line-height: 1;
    border-radius:.67em;
    color:white;
    text-align:center;
    font-family: 'Calibri Light', sans-serif;


}

header,footer {
    background-color: rgb(211, 17, 17);
    padding:.3em;
    line-height: 1;
    border-radius:.67em;
    color:white;
    text-align:center;
    font-family: 'Calibri Light', sans-serif;
}
footer {
    margin-top: 1em;
}
 footer {
    background-color: rgb(211, 17, 17);
    left: 0;
    right: 0;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    
}
.footer{
    display: grid;
    grid-column: 100%;
    grid-row: 1;

}
