/* Larger viewports */
@media only screen and (min-width: 900px) {
    /* .... */
    h1 {
        font-size: 20px;
         font-family:'Times New Roman', Times, serif;
  
        }

        header {
            display: flex;
            align-items: center;
            background-color: lightgrey;
            border-radius: 10px;

        }
        footer{
            display: flexbox;
            flex-direction: row;
            
            back-ground-color: lightgrey;
            padding: 0,4em;
            margin-top: 3em;
            text-align: center;
            
            }
        
        header .images {
           
        }
        header .text-title{
            
        }


        .img {
            width: 90px;
           
           padding:30px;
           margin-bottom: 10px;
           margin-top: 10px;
        }

    nav ul {
        list-style: none;       
    }
    nav ul li {
        float: left;
        padding: 2px;
        background-color: lightgrey;
    }

body{
    font-size : 30px;
    background-color: lightslategrey;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
footer {
    flex: 0 1 100%;
    height: 10rem;

}
footer {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 100px 100px;
  
}
.class{
    grid-column: 2;
    grid-row: 1;
}
.social {
    grid-column:2;
    grid-row: 2;

}
.picture{
   
    grid-column: 1 ;
    grid-row: 1 / span 3;
}


.picture img  {
    width: 100%;
}


.contact {
grid-column: 2;
grid-row: 1 ;


}

.update{
    grid-column: 2;
    grid-row: 2 ;
}

.social{
    grid-column: 2;
    grid-row: 3;
}

}