/* Larger viewports */
@media only screen and (min-width: 32.5em) {
    /* .... */
    h1 {
        font-size: 20px;
         font-family:'Times New Roman', Times, serif;
  
        }

        header {
            display: grid;
            grid-template-columns: auto 40%;
            grid-template-rows: 1;

        }
        header .images {
           grid-column: 2;
           grid-row: 1;
        }
        header .text-title{
            grid-column: 1;
            grid-row: 1;
        }


        .img {
            width: 60px;
           background-color: white;
           padding:5px;
           margin-bottom: 10px;
           margin-top: 10px;
        }

    nav {

        display: grid;
        grid-column: 

        
    }


}


