/* Larger viewports */
@media only screen and (min-width: 32.5em) {
    /* .... */
    h1 {
        font-size: 20px;
         font-family:'Times New Roman', Times, serif;
  
        }

        header {
            display: flex;
            align-items: center;

        }
        header .images {
           
        }
        header .text-title{
            
        }


        .img {
            width: 60px;
           background-color:lightseagreen;
           padding:10px;
           margin-bottom: 10px;
           margin-top: 10px;
        }

    nav ul {
        list-style: none;       
    }
    nav ul li {
        float: left;
        padding: 10px;
    }


}


