@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
	font-size: 16px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* phone or baseline views **************************/

footer {
	background-color: lightgrey;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
    border-radius: 15px;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-size: 1.1rem;
	
}
h1 {
    text-align: center;
    font-family: ui-sa
	ns-serif;
    margin-right: 5px;}
h2 {
	color: #536878;
	text-align: center;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, rgb(0, 255, 234), transparent)  10px repeat;
  transition: 0.5s;
}
nav a:hover {
/* 	background-color: #bbb;
	color: #36454f; */
	--d: 75%;
}
.active {
	color: yellow;
}

main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
main picture {
	display: none;
	margin: 0.5rem;
}

/*footer {
	flex: 0 1 100%;
	height: 2rem;
}*/

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 { font-size: 1.5rem;}
	
	/* Horizontal Menu Examples */
	/* Flex *********************/
		nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }
	

	/* Grid *********************/
/* 			nav ul { 
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
			} */

	/* Inline-Block             */
	/*
			nav li {display: inline-block;}
	*/

	/* Float                    */
	/*
			nav li {float:left; margin-right:15px;}
			main {clear:both;}
	*/

/*******************************************************/
	
	nav a {
		font-size: 1rem;
	}
	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 { font-size: 2rem;}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}

	.section-head{
		text-align: center;

	}



.grid-forecast{
	grid-template-columns: 25% auto auto auto;
	grid-template-rows: 25% auto;
}
.grid-monday{
	grid-column: 1;
	grid-row: 1;
}
.grid-{
	grid-column: 2;
	grid-row: 1;
}

.forecast {
	display: flex;
	justify-content:center;
	flex-wrap: wrap;
}




forecastdiv {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 5em;
}

.weathericon {
    display: block;
    width: 3em;
    margin: 0 auto;
    padding:.5em;
}

.day {
    background-color:rgba(30, 17, 106, 1);
}

.day, .temp {
    padding: .25em;
    text-align: center;
    font-weight: 900;
}

.temp {
    color: black;
}

.forecastdiv {
    margin: .5em;
    border:solid .1em black;
}
}


