header {
    background-color: rgb(211, 17, 17);
    padding: 1px;
    border-radius: 10px;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
}
body {
    font-size: 16px;
    line-height: 1.5;
    max-width:800px;
    margin:0 auto;
    font-family:'Calibri Light', sans-serif;
    height:100%;
}

#Portal_Picture {
    float:right;
    margin:5px;
    box-shadow:0px 0px 15px 7px rgb(245, 231, 231);
    max-height:220px;
}
main {
    margin:25px;
}
h2 {
    font-family:'Oswald', sans-serif;
    margin-top:1.5em;
    padding:2px;
    border-bottom:solid thin;
}
footer {
    background-color:rgb(211, 17, 17);
    padding: 5px;
    margin-top:2em;
    border-radius:10px;
    color:white;
    text-align:center;
}
footer a {
    color:white;
}
#Portal_Last_Updated {
    padding-top:0px;
    margin-top:-15px;
    font-size:15px;
    color:rgb(255, 252, 47);
}