@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



@media only screen and (min-width: 320px) {
    body {
        font-family: 'Roboto', sans-serif;
        max-width: 70rem;
        margin: auto;
        padding: 3rem;
      border-radius: 2px 2px 2px 2px;
    }
    header {
        text-align: center;
        color: #003566;
    }
    .names section p {
        color: #003566;
        text-align: center;
        font-size: 1rem;
    }
    .names {
        display: flex;
        flex-flow: column;
    }
    .names section {
        background-color: #90E0EF;
        border: 2px solid black;
        margin: .2rem;
        padding: .5rem;
        width: 90%
    }
    .names section h2 {
        color: #003566;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .cards section img {
        width: 70%;
        max-width: 15rem;
        margin:10px auto;
	    display:block;
      border-radius: 8px;
       border: 4px solid;
  padding: 10px;
  box-shadow: 5px 10px grey;
        
    }
    footer {
        text-align: center;
        background-color: #277da1;
        color: white;
        padding: 2rem;
    }
}



@media only screen and (min-width: 481px) {

    .cards {
        display: flex;
        flex-flow: row wrap;
        margin: 1rem;
    }
    .names section {
        width: 45px;
    }
}



@media only screen and (min-width: 1025px) {

    .cards section {
        width: 22%;
        
    }
  h1{
    
    
  }
  .cards section h2, p{
    width: 180px;
    font-size: 14px;
    text-align: center;
    color: blue;
    background-color: grey;
    border-radius: 10px;
    margin-left: 30px;
    
  }
}
