.cards {
    display: block;
    width: 960px;
    border: 10px solid goldenrod;
    margin: 0 auto;
    background-color: #aec8e1;
    overflow: hidden;
}

section {
    width: 300px;
    float: left;
    border-radius: 20px 20px;
    margin: 10px;
    margin-bottom: 25px;
    height: 565px;
    overflow: hidden;
}

h1, p, h2 {
    text-align: center;
    background-color:cadetblue;
}

section img {
    width: 280px;
    margin: 10px;
    border-radius: 20px 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
footer {
    text-align: center;
    background-color: cadetblue;
}